<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Portfolio | Mani Dogar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🚀 DevOps CI/CD Project</h1>
        <p class="subtitle">
            Automated Docker CI/CD pipeline deployed on AWS EC2
        </p>

        <div class="card">
            <h2>🔧 Technologies Used</h2>
            <ul>
                <li>Flask (Python)</li>
                <li>Docker & Docker Hub</li>
                <li>GitHub & GitHub Actions (CI/CD)</li>
                <li>AWS EC2</li>
            </ul>
        </div>

        <div class="card">
            <h2>⚙️ Project Highlights</h2>
            <ul>
                <li>Application containerized using Docker</li>
                <li>CI/CD pipeline auto-builds & pushes images</li>
                <li>Deployed on AWS EC2 using Docker</li>
                <li>Monitoring with Docker logs & CloudWatch</li>
            </ul>
        </div>

        <footer>
            <p>👨‍💻 Built by Mani Dogar | Aspiring DevOps Engineer</p>
        </footer>
    </div>
</body>
</html>
